<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/images/weatherIcom.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <p>This is a simple weather application built with Node.js and Express.
        It lets users search for any city and view real-time weather data.
        The app uses the Mapbox API for location and geocoding, and the Weatherstack API to fetch current weather conditions.</p>
    <img class="portrait" src="./images/myIcon.png" alt="My icon for Weather.app" />
    </div>
    
    {{>footer}}
  </body>
</html>